@import '~antd/lib/style/themes/default.less';
.content {
    background: white;
    margin: -24px -24px 0px;
}
.headerNav{
    margin:0px 0px 0px 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor:pointer;
}
.headerH{
    margin:0px 0px 0px 30px;
    padding-bottom: 1px;
}
.contentBody{
    background: white;
    margin-top: 24px;
    //height:1000px;
    margin-left: auto;
    margin-right: auto;
}
.contentMain{
    background: white;
    margin: 0 auto;
    width: 750px;
    padding-top: 40px;
    padding-right: 150px;
}
.normalStyle{
    margin:0 0 24px;
    height: 40px;
}
.alertStyle{
    margin:0 0 24px;
    height: 32px;
}
.errorStyle{
    margin:-25px 0 24px 105px;
    font-size: 14px;
    color: red;
    width: 300px;
}
.textareaStyle{
    margin:0 0;
    height: 100px;
    border: 1px solid #d9d9d9;
}
.leftSide{
    font-size:15px;
    color:rgba(0,0,0,0.85);
    float:left;
    line-height: 32px;
}
.leftContent{
    float:right;
    width: 300px;
    margin-left: -10px;
}
.upload {
    margin:0 auto 24px 100px;
    img {
        width: 200px;
        height: 200px;
        margin-bottom: 24px;
    }
    .ant-upload{
        margin:0 auto;
    }
}
.textareaStyle {
    line-height: 18px;
    height: 100px;
}